@charset "UTF-8";

@font-face {
	font-family: 'NotoKrR';
	font-style: normal;
	font-weight: 300;
	src: local('Noto Sans Regular'), local('NotoSans-Regular'), url(../fonts/NotoSans-Regular.eot);
	src: url(../fonts/NotoSans-Regular.eot?#iefix) format('embedded-opentype'),
	url(../fonts/NotoSans-Regular.woff2) format('woff2'),
	url(../fonts/NotoSans-Regular.woff) format('woff');
}
@font-face {
	font-family: 'NotoKrM';
	font-style: normal;
	font-weight: 500;
	src: local('Noto Sans Medium'), local('NotoSans-Medium'), url(../fonts/NotoSans-Medium.eot);
	src: url(../fonts/NotoSans-Medium.eot?#iefix) format('embedded-opentype'),
	url(../fonts/NotoSans-Medium.woff2) format('woff2'),
	url(../fonts/NotoSans-Medium.woff) format('woff');
}
@font-face {
	font-family: 'NotoKrB';
	font-style: normal;
	font-weight: 700;
	src: local('Noto Sans Bold'), local('NotoSans-Bold'), url(../fonts/NotoSans-Bold.eot);
	src: url(../fonts/NotoSans-Bold.eot?#iefix) format('embedded-opentype'),
	url(../fonts/NotoSans-Bold.woff2) format('woff2'),
	url(../fonts/NotoSans-Bold.woff) format('woff');
}

/* ++++++++++++++ [ common ] ++++++++++++++ */
ul, menu, dir {
    padding-inline-start: 0px;
}

a {
	cursor: pointer;
}

::selection {
    background-color: #3a3a3a;
    color: #fff;
}

body {
	position: relative;
	color: #3a3a3a;
	font-family: 'NotoKrR', sans-serif;
	font-weight: 300;
	font-size: 13px;
}

/* ++++++++++++++ [ padding/margin ] ++++++++++++++ */
.p-20 {
	padding: 20px
}
.pt-20 {
	padding-top: 20px;
}
.pr-10 {
	padding-right: 10px;
}
.pl-0 {
	padding-left: 0px;
}
.pl-10 {
	padding-left: 10px;
}

.mt-30 {
	margin-top: 30px;
}
.mb-20 {
	margin-bottom: 20px;
}
.mb-35 {
	margin-bottom: 35px;
}
.ml-30 {
	margin-left: 30px;
}

/* ++++++++++++++ [ box ] ++++++++++++++ */
.wrap {
	max-width: 1570px;
	margin: 0 auto;
}

.contents {
	padding-top: 60px;
}

.section {
	padding-top: 50px;
	padding-bottom: 100px;
}

.bx-border {
	background: #f5f5f5;
	border: 1px solid #e7e7e7;
}

.bx-round {
	border-radius: 5px;
	border: 1px solid #e7e7e7;
}

/* ++++++++++++++ [ text ] ++++++++++++++ */
h1, h2, h3, h4, h5, h6 {
	font-family: 'NotoKrM', sans-serif;
}

h1 {
	font-size: 45px !important;
}

h6 {
    font-weight: bold;
    letter-spacing: -1px;
    font-size: 12px;
    margin-top: 0px;
    margin-bottom: 5px;
}

.txt-333 {
	color: #333333;
}

.txt-gray {
	color: #6c747d;
}

.font-20 {
	font-size: 20px;
}

.dot:after {
    content: ".";
    color: #2589e6;	
}

/* ++++++++++++++ [ button ] ++++++++++++++ */
.btn {
	border-radius: 0;
}
.btn.focus, .btn:focus {
    box-shadow: none !important;
}

.link-bar {
	list-style: none;
	padding-left: 0;
	font-size: 0;
}
.link-bar .item {
	position: relative;
	display: inline-block;
	font-size: 13px;
	text-align: center;
}
.link-bar .item a {
	color: #777777;
}
.link-bar .item:after{
	content: '';
	position: absolute;
	width: 1px;
	height: 16px;
	top: 50%;
	right: 0;
	margin-top: -8px;
	background: #cccccc;
}
.link-bar .item:last-child:after {
	width: 0;
}

/* +++++++++++++++ [ form/input ] ++++++++++++++ */
input, textarea, select {
	border-radius: 0 !important;
}
input:focus, textarea:focus, select:focus {
    box-shadow: none !important;
}

select {
	padding: 0 30px 0 10px !important;
	background-image: url(../images/icon_select.png) !important;
	background-repeat: no-repeat;
	background-position: 93% 50%;
    -webkit-appearance: none; 
	-moz-appearance: none;
	appearance:none;
}
select::-ms-expand {
   display: none;
}

.form-check label,
.checkbox label {
	cursor: pointer;
}

label.required:after {
	content: '*';
	margin-left: 5px;
	color: #d74b4a;
}

p.required:after {
	content: '*';
	margin-left: 5px;
	color: #d74b4a;
}

.form-style {
	border-top: 1px solid #999;
	border-bottom: 1px solid #e0e0e0;
}
.form-style .form-group {
	padding: 10px;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0;
	border-bottom: 1px solid #e0e0e0;
}
.form-style .form-group:last-child {
	border-bottom: none;
}
.form-style .control-label {
	text-align: left !important;
}

/* +++++++++++++++ [ table grid ] ++++++++++++++ */
.table-style {
	margin-bottom: 0;
	border-top: 1px solid #999;
	border-bottom: 1px solid #e0e0e0;
	text-align: center;
}

.table-style thead {
	background: #f5f5f5;
}
.table-style thead th {
    border-bottom: none !important;
    vertical-align: middle !important;
}
.table-style th {
	text-align: center;
	font-family: 'NotoKrM', sans-serif;
}

.table-style > thead > tr > th, .table-style > tbody > tr > th, .table-style > tfoot > tr > th, .table-style > thead > tr > td, .table-style > tbody > tr > td, .table-style > tfoot > tr > td {
	padding: 10px 10px;
}

.table-style tbody td,
.table-style tbody th {
    border-top: 1px solid #e0e0e0 !important;
}

.table-style tbody tr.hover:hover {
    background-color: #e2f1ff;
}

.table-line td {
    vertical-align: top;
	border-top: 1px solid #dddddd;
}
.table-line tr:last-child > td {
	border-bottom: 1px solid #dddddd;
}

.table-point {
    color: #2589e6;
}

.table-hover tr:hover {
	background-color: #f5f5f5;
}

/* +++++++++++++++ [ pagination ] ++++++++++++++ */
.pagination {
	margin: 30px 0 0 0;
}

.page-item:first-child .page-link {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.page-item:last-child .page-link {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* +++++++++++++++ [ header ] ++++++++++++++ */
header {
	position: fixed;
	width: 100%;
    right: 0;
    left: 0;
    top: 0;
	background: #3a3a3a;
	z-index: 9999;
}

header a {
	color: #ffffff !important;
}

header .logo {
	display: block;
	float: left;
	height: 60px;
	padding: 10px 0 10px 15px;
}
header .logo img {
	max-height: 40px;
}

header .logo,
header .link-bar {
	width: 180px;
}

header .link-bar {
	padding-right: 15px;
	text-align: right !important;
}

header .link-bar a {
	display: block;
	height: 60px;
	line-height: 60px;
	padding: 0 10px;
}

/* +++++++++++++++ [ side menu ] ++++++++++++++ */
.side-menu {
	background: #ffffff;
	border: 1px solid #e7e7e7;
}

.side-menu h2 {
	padding: 30px 16px;
	margin-top: 0;
	margin-bottom: 0;
	background: #334b62;
	color: #ffffff;
}

.side-menu .panel {
    margin-bottom: 0;
    background-color: #fff;
    border: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.side-menu ul {
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
}

.side-menu .panel,
.side-menu li {
	border-bottom: 1px solid #e7e7e7;
}
.side-menu .panel:last-child,
.side-menu li:last-child {
	border-bottom: none;
}

.side-menu a {
	display: block;
	padding: 16px;
	color: #3a3a3a;
}
.side-menu a:hover,
.side-menu a:focus {
	text-decoration: none;
	background: #e2f1ff;
}

.side-menu .depth1 a {
	padding-right: 35px;
	background-repeat: no-repeat;
	background-position: right 20px center;
}
.side-menu .depth1 a[aria-expanded="true"] {
	background-image: url(../images/icon_minus.png);
}

.side-menu .depth1 a[aria-expanded="false"] {
	background-image: url(../images/icon_plus.png);
}

.side-menu .depth2 {
	background: #f5f5f5;
	border-top: 1px solid #e7e7e7;
}
.side-menu .depth2 a {
	position: relative;
	padding-left: 35px;
	color: #777777;
}
.side-menu .depth2 a:before {
	content: '';
	position: absolute;
	width: 8px;
	height: 1px;
	left: 16px;
	bottom: 50%;
	background: #bbbbbb;
}
.side-menu .depth2 .active,
.side-menu .depth2 .active:hover {
	background: #007bff;
	color: #ffffff !important;
}

/* +++++++++++++++ [ sub-title ] ++++++++++++++ */
.sub-title {
	padding: 50px 0;
	text-align: center;
	color: #ffffff !important;
	background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

.login .sub-title {
	background: url(../images/bg_sub1.png);
}
.sample .sub-title {
	background: url(../images/bg_sub2.png);
}

/* +++++++++++++++ [ breadcrumb ] ++++++++++++++ */
.breadcrumb_wrap {
	background: #f5f5f5;
	border-bottom: 1px solid #e7e7e7;
}
.breadcrumb {
	padding: 10px 15px;
	margin-bottom: 0;
	font-size: 13px;
}
.breadcrumb-item+.breadcrumb-item::before {
    content: "\003E";
}

/* ++++++++++++++ [ footer ] ++++++++++++++ */
footer {
	border-top: 1px solid #eee;
}

footer .textwidget {
    font-weight: bold;
    color: #999999;
    font-size: 12px;
}

footer .copy {
	padding-top: 30px;
    padding-bottom: 30px;
	background: #f5f5f5;
	border-top: 1px solid #eee;
}
footer .copy p {
    margin: 15px 0;
	text-align: center;
	font-weight: normal;
    font-size: 14px;
    color: #777777;
}
footer .widget {
    margin-top: 0px;
    margin-bottom: 20px;
	padding-bottom: 0px;
}
footer .icon-sns img {
	width:30px;
	height:30px
}

/* ++++++++++++++ [ login ] ++++++++++++++ */
.login .bx-round {
	padding: 10% 15%;
}

/* ++++++++++++++ [ list ] ++++++++++++++ */
.list .group {
	margin-top: 50px !important;
    margin-bottom: 0px !important;
    padding-top: 0px !important;
    padding-bottom: 50px !important;
	border-bottom: 1px solid #e8e8e8;
}
.list .title {
	margin-top: 0;
    margin-bottom: 0;
}
.list .title h3 {
	letter-spacing: -1px;
    font-size: 30px;
    margin-top: 0px;
    padding-top: 0px;
}

.list .text {
	line-height: 25px;
    font-size: 17px;
	margin-top: 0px !important;
    margin-bottom: 0px !important;
    margin-left: 30px !important;
    border-left-width: 1px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    padding-left: 30px !important;
    border-left-color: #666666 !important;
    border-left-style: dotted !important;	
}

/* ++++++++++++++ [ title ] ++++++++++++++ */
.title {
	margin-top: 25px;
    margin-bottom: 25px;
}

.title > i {
    font-size: 45px;
    margin-bottom: 25px;
}

.title hr {
	width: 45px;
    margin: 20px 0;
    border-top: 1px solid #2589e6;
}
.title.center hr {
	margin: 30px auto;
}

.title h3 {
	letter-spacing: -1px;
    font-size: 16px;
    margin-top: 0px;
    padding-top: 0px;
}

/* ++++++++++++++ [ img-view ] ++++++++++++++ */
.img-view img {
	width: 150px;
	height: 150px;
	border-radius: 50%;
}

/* ++++++++++++++ [ main ] ++++++++++++++ */
.img-container {
	text-align: center;
	color: #ffffff !important;
	background-color: #3a3a3a;
	background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

.img-title {
	padding: 100px 15px;
	background-color: rgba(0, 0, 0, 0.2);
}

.img-container h2 {
	font-size: 50px;
}

.img-container p {
	color: #e5e7e9;
}

.img-container.main {
	background: url(../images/갈보리추모동산.jpg);
}
.img-container.guide {
	background: url(../images/갈보리추모동산-2.jpg);
}

/* ++++++++++++++ [ @media ] ++++++++++++++ */
@media (min-width: 1440px) {
	.widget {
		float: left;
		margin-right: 60px;
	}
	
}

@media (max-width: 1439px) {
	.img-container h2 {
        font-size: 36px;
    }
}

@media (max-width: 768px) {
	header .link-bar {
		display: table !important;
		width: 100%;
		margin-top: 0;
		padding: 0;
	}
	header .link-bar .item {
		display: table-cell;
		width: 1%;
		padding: 0;
	}
	
	.section {
		padding-top: 20px;
		padding-bottom: 20px;
	}
	
	.table-responsive .table-line {
		margin: -1px 0;
	}
}

/* ++++++++++++++ [ added ] ++++++++++++++ */
.poptitle {
	background-color: #595959; color: #fff; padding: 15px 10px; font-size: 18px;
}
.poptitle .close {
    color: #fff; 
    opacity: 1;
}
.clickable-row{
	cursor: pointer;
}
.clickable-row:hover td{
	color: #337AB7;
}
.nav li a {
	padding: 15px 30px !important;
}
.help-block {
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}
.select.yearselect {
	width: 50% !important;
}
.table-style tr td,th{
	vertical-align:middle !important; 
}
a.tbllink{
	color: #3a3a3a;
	text-decoration: none;
}
a.tbllink:hover{
	color: #337ab7;
	text-decoration: underline;
}
tr.cancel td{
	text-decoration:line-through;
	background-color: #f0f0f0;
}
th.required:after {
	content: '*';
	margin-left: 3px;
	color: #d74b4a;
}
.table-horizon th{
	text-align: center !important;
	background-color: #f5f5f5;
}
input.readonlywhite{
	background-color: #fff !important;
}
.form-inline .form-control { 
    /*display: inline-block !important;*/ 
}
.hide {
	display: none !important;
}
.form-control {
	font-size: 13px !important;
}
.font-13 {
	font-size: 13px !important;
}
.font-14 {
	font-size: 14px !important;
}
.font-15 {
	font-size: 15px !important;
}

@media screen and (max-width: 1920px) {
  .table-responsive {
    width: 100%;
    margin-bottom: 15px;
    overflow-y: hidden;
    border: 1px solid #ddd;
  }
  .table-responsive > .table {
    margin-bottom: 0;
  }
  .table-responsive > .table > thead > tr > th,
  .table-responsive > .table > tbody > tr > th,
  .table-responsive > .table > tfoot > tr > th,
  .table-responsive > .table > thead > tr > td,
  .table-responsive > .table > tbody > tr > td,
  .table-responsive > .table > tfoot > tr > td {
    white-space: nowrap;
  }
  .table-responsive > .table-bordered {
    border: 0;
  }
  .table-responsive > .table-bordered > thead > tr > th:first-child,
  .table-responsive > .table-bordered > tbody > tr > th:first-child,
  .table-responsive > .table-bordered > tfoot > tr > th:first-child,
  .table-responsive > .table-bordered > thead > tr > td:first-child,
  .table-responsive > .table-bordered > tbody > tr > td:first-child,
  .table-responsive > .table-bordered > tfoot > tr > td:first-child {
    border-left: 0;
  }
  .table-responsive > .table-bordered > thead > tr > th:last-child,
  .table-responsive > .table-bordered > tbody > tr > th:last-child,
  .table-responsive > .table-bordered > tfoot > tr > th:last-child,
  .table-responsive > .table-bordered > thead > tr > td:last-child,
  .table-responsive > .table-bordered > tbody > tr > td:last-child,
  .table-responsive > .table-bordered > tfoot > tr > td:last-child {
    border-right: 0;
  }
  .table-responsive > .table-bordered > tbody > tr:last-child > th,
  .table-responsive > .table-bordered > tfoot > tr:last-child > th,
  .table-responsive > .table-bordered > tbody > tr:last-child > td,
  .table-responsive > .table-bordered > tfoot > tr:last-child > td {
    border-bottom: 0;
  }
}