/* 모바일메뉴버튼 스타일 */
.menu-toggle input[type=checkbox] {
	display: none;
}
.menu-toggle * {
	box-sizing: border-box;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}
.menu-toggle {
	position: relative;
	float: right;
	display: none;
	height: 60px;
	width: 60px;
	border-left: 1px solid #414141;
}
.menu-toggle label {
	cursor: pointer;
	position: absolute;
	width: 100%;
	height: 100%;
	margin-bottom: 0;
	padding: 24px 17px 20px;
	z-index: 99;
}
.menu-toggle span {
	position: relative;
	float: left;
	width: 100%;
	height: 1px;
	margin-bottom: 5px;
	padding: 0;
	background-color: #ffffff;
}
.menu-toggle span:nth-child(3) {
	width: 75%;
}
.menu-toggle input[type=checkbox]:checked ~ .menu-lines > span:nth-child(2) { 
	opacity: 0;
}
.menu-toggle input[type=checkbox]:checked ~ .menu-lines > span:nth-child(1) {
	margin-top: 5px;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	
}
.menu-toggle input[type=checkbox]:checked ~ .menu-lines > span:nth-child(3) {
	margin-top: -12px;
	width: 100%;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

/*메뉴스타일*/
.menu {
	width: 100%;
	height: auto;
	text-align: center;
	background: #3a3a3a;
	-webkit-transition: all .3s ease;
    transition: all .3s ease;
}

.menu ul {
	display: inline-block;
	list-style: none;
	margin-bottom: 0px;
	padding-left: 0;
}

.menu > ul > li { 
	display: inline-block;
}

.menu a {
	display: block;
	height: 60px;
	line-height: 60px;
	padding: 0 15px;
	font-size: 14px;
}
.menu .depth1 a {
	position: relative;
}
.menu .depth1 a:hover,
.menu .depth1 a:focus {
	text-decoration: none;
}

/*메뉴 오버시 효과*/

.menu .depth1 .item > a:after{
	content: '';
	position: absolute;
	width: 100%;
	height: 3px;
	right: 0;
	bottom: 10px;
	background-color: transparent;
    transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}
.menu .depth1 .item > a:hover:after{
	content: '';
	position: absolute;
	width: 100%;
	height: 3px;
	right: 0;
	bottom: 10px;
	background-color: #ffffff;
    transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}

/*서브메뉴 스타일*/
.menu .depth2 {
	display: none;
	position: absolute;
	width: 100%;
	top: 100%;
	left: 0;
	right: 0;
	margin: 0 auto;
	padding: 20px 0;
	background: #ffffff;
	border-bottom: 1px solid #aaaaaa;
	box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.2);
}
.menu .depth1 li:hover .depth2 {
	display: block;
}

.menu .group {
	display: table;
	width: 100%;
}
.menu .depth2 .group > li {
	display: table-cell;
	vertical-align: top;
	border-left: 1px solid #cccccc;
}
.menu .depth2 .menu-title {
	display: table-cell;
	width: 300px;
	vertical-align: middle;
}
.menu .depth2 .menu-title h2 {
	margin: 0;
}
.menu .depth2 a {
	color: #3a3a3a !important;
	text-align: left;
	padding: 15px 20px;
	height: auto;
    line-height: normal;
}
.menu .depth2 a:hover {
	background: #f5f5f5;
}
.menu .depth2 .group > li > a {
	font-family: 'NotoKrM', sans-serif;
}
.menu .depth3 {
	display: block;
}
.menu .depth3 a {
	color: #777777;
}

@media (max-width: 768px) {
	.menu-toggle {
		display: block;
	}

	.menu {
		clear: both;
		min-width: inherit;
		float: none;
		text-align: left;
		overflow: auto;
		max-height: 0;
	}
	.menu ul {
		display: block;
	}
	.menu li {
		border-top: 1px solid #414141;
	}
	
	.menu a:hover {
		background: #4f4f4f !important;
	}
	
	.menu .depth2 {
		display: block;
		background-color: transparent;
		border-bottom: 0;
		box-shadow: none;
		padding: 0;
		background: #3f3f3f;
	}
	.menu .depth2 .group > li {
		display: block;
		border-left: none;
	}
	.menu .depth2 a {
		padding-left: 30px;
		color: #ffffff !important;
	}
	.menu .depth3 {
		background: #444444;
	}
	.menu .depth3 a {
		padding-left: 50px;
		color: #aaaaaa !important;
	}
	
	.menu > ul ul {
		overflow: hidden;
		max-height: 0;
	}
	.menu.active,
	.menu > ul ul.active {
		max-height: 55em;
	}
	
	.menu .depth1 li:hover .depth2 {
		display: block;
	}
	.menu .depth2,
	.menu .depth3 {
		display: inherit;
		position: relative;
	}
	
	.menu li,
	.menu > ul > li {
		display: block;
	}

	.menu li a {
		position: relative;
	}
	.menu li.has-submenu > a:after {
		content: '';
		position: absolute;
		width: 40px !important;
		height: 40px !important;
		top: 50% !important;
		right: 10px !important;
		margin-top: -20px;
		background: url(../images/icon_plus.png) no-repeat center;
		background-color: transparent !important;
		transition: none !important;
		-ms-transition: none !important;
		-moz-transition: none !important;
		-webkit-transition: none !important;
	}
	.menu li.has-submenu > a.active:after {
		content: '';
		position: absolute;
		width: 40px !important;
		height: 40px !important;
		top: 50% !important;
		right: 10px !important;
		margin-top: -20px;
		background: url(../images/icon_minus.png) no-repeat center;
		background-color: transparent !important;
		transition: none !important;
		-ms-transition: none !important;
		-moz-transition: none !important;
		-webkit-transition: none !important;
	}

}