/* ++++++++++++++ [ 모바일메뉴버튼 스타일 ] ++++++++++++++ */
.menu-toggle input[type=checkbox] {
	display: none;
}
.menu-toggle * {
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}
.menu-toggle {
	position: relative;
	display: none;
	float: right;
	width: 60px;
	height: 60px;
	border-left: 1px solid #414141;
}
.menu-toggle label {
	cursor: pointer;
	position: absolute;
	width: 100%;
	height: 100%;
	margin-bottom: 0;
	padding: 24px 17px 20px;
	z-index: 99;
}
.menu-toggle span {
	position: relative;
	float: left;
	width: 100%;
	height: 1px;
	margin-bottom: 5px;
	padding: 0;
	background-color: #ffffff;
}
.menu-toggle span:nth-child(3) {
	width: 75%;
}
.menu-toggle input[type=checkbox]:checked ~ .menu-lines > span:nth-child(2) { 
	opacity: 0;
}
.menu-toggle input[type=checkbox]:checked ~ .menu-lines > span:nth-child(1) {
	margin-top: 5px;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	
}
.menu-toggle input[type=checkbox]:checked ~ .menu-lines > span:nth-child(3) {
	width: 100%;
	margin-top: -12px;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

/* ++++++++++++++ [ 메뉴스타일 ] ++++++++++++++ */
.menu {
	width: 100%;
	height: auto;
	text-align: center;
	-webkit-transition: all .3s ease;
    transition: all .3s ease;
}
.menu ul {
	margin-bottom: 0;
	padding-left: 0;
	list-style: none;
}
.menu li {
	vertical-align: top;
}

.menu .depth1 {
	display: inline-block;
}

.menu .depth1 a:hover,
.menu .depth1 a:focus {
	text-decoration: none;
}

.menu .depth1 .item > a {
	display: block;
	height: 50px;
	line-height: 50px;
	margin: 5px 0;
	padding: 0 25px;
	border-bottom: 3px solid;
	border-color: transparent;
	-webkit-transition: all .3s ease;
    transition: all .3s ease;
}
.menu .depth1 .item.on > a {
	border-color: #ffffff;
}

.menu .depth1 .item {
	position: static;
	display: inline-block;
}

/* ++++++++++++++ [ 서브메뉴 스타일 ] ++++++++++++++ */
.menu .depth2 {
	position: absolute;
	display: none;
	padding: 30px 50%;
	margin: 0 -50%;
	text-align: left;
	z-index: 99;
}
.menu .depth1 .item.on .depth2 {
	display: block;
	height: 285px;
}

.menu .depth2 .wrap {
	white-space: nowrap;
}
.menu .depth2 .menu_group {
	display: inline-block;
	width: auto;
	margin-right: 20px;
}
.menu .depth2 .menu_group:last-child {
	margin-right: 0;
}

.menu .full .depth2 {
	left: 0;
	right: 0;
}
.menu .full .depth2 .wrap {
	display: table;
	width: 100%;
	padding: 0 200px;
}
.menu .full .depth2 .menu_group {
	display: table-cell;
}

.menu .depth2 a {
	display: inline-block;
	padding: 6px;
	color: #474747 !important;
}
.menu .depth3 a {
	color: #999999 !important;
}

/* ++++++++++++++ [ 서브메뉴 박스 ] ++++++++++++++ */
.menu .bx_sub {
	position: absolute;
	width: 100%;
	height: 0;
	left: 0;
	right: 0;
	opacity: 0;
	background: #ffffff;
	border-bottom: 1px solid #aaaaaa;
	box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.2);
	-webkit-transition: all 0.1s;
	transition: all 0.1s;
}
.menu.on .bx_sub {
	height: 285px;
	opacity: 1;
}

.menu .bx_sub .title {
	display: none;
	width: 200px;
	margin: 0;
	padding: 36px 15px;
	text-align: left;
	font-size: 20px;
	z-index: 999;
}
.menu .bx_sub .title.on {
	display: block;
}


/* ++++++++++++++ [ @media ] ++++++++++++++ */
@media (max-width: 768px) {
	.menu-toggle {
		display: block;
	}

	.menu {
		clear: both;
		overflow: auto;
		min-width: inherit;
		max-height: 0;
		text-align: left;
	}
	.menu li {
		border-top: 1px solid #414141;
	}
	
	.menu .depth1,
	.menu .depth1 li,
	.menu .depth2,
	.menu .depth3 {
		display: block !important;
	}
	
	.menu.active,
	.menu .depth2.active,
	.menu .depth3.active{
		max-height: 55em;
	}
	
	.menu .depth2,
	.menu .depth3 {
		overflow: hidden;
		position: relative;
		max-height: 0;
		padding: 0;
		margin: 0;
	}
	.menu .depth2 {
		background: #414141;
	}
	.menu .depth3 {
		background: #444444;
	}
	
	.menu .depth1 .item.on .depth2 {
		height: auto;
	}
	
	.menu .full .depth2 .wrap {
		padding: 0;
	}
	
	.menu .depth2 .menu_group {
		margin-right: 0;
	}
	
	.menu a {
		position: relative;
		display: block !important;
		margin: 0 !important;
	}
	.menu a:hover {
		background: #222222;
	}
	
	.menu .depth1 .item > a {
		border-bottom: none;
		border-color: transparent;
		-webkit-transition: none;
		transition: none;
	}
	.menu .depth1 .item.on > a {
		border-color: transparent;
	}
	
	.menu .depth2 a {
		height: 50px;
		line-height: 50px;
		padding: 0;
		padding-left: 30px;
		color: #cccccc !important;
	}
	.menu .depth3 a {
		padding-left: 40px;
		color: #aaaaaa !important;
	}
	
	.menu li.has-submenu > a:after {
		content: '';
		position: absolute;
		width: 40px;
		height: 40px;
		top: 50%;
		right: 10px;
		margin-top: -20px;
		background-image: url(../images/icon_plus.png);
		background-position: center;
		background-repeat: no-repeat;
	}
	.menu li.has-submenu > a.active:after {
		background-image: url(../images/icon_minus.png);
	}

}